header {
    padding: 1em;
    background-color: #1e47b8;
    color: #ffffff;
    text-align: start;
}

.container {
    display: flex;
    height: 100%;
    justify-content: space-around;
    margin-top: 1em;
}

.item {
    width: 45%;
}